:root{
	--background:#423CA2; /*#4860B7 #836f26;*/
}
.left_col {
    background: var(--background) !important;
}
body {
    background: var(--background) !important;  
}
.nav_title {
     background: var(--background) !important;
}
.sidebar-footer {
    background: var(--background) !important;
}

.tile-stats .icon:hover {
	color:#33967e !important;
}

div >i.fa
{
	color: var(--background);
}

.alert-success {
    color: #ffffff;
    background-color: var(--background) !important;
    border-color: rgba(38, 185, 154, 0.88)
}
.alert-info {
    color: #E9EDEF;
    background-color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88)
}
.alert-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88)
}
.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88)
}