:root{
	--starter-bg:#1d5546; /* #205b1f , #1f5b3c ,#1d5546*/
}
.left_col {
    background: var(--starter-bg) !important;
}
body {
    background: var(--starter-bg) !important;
}
.nav_title {
     background: var(--starter-bg) !important;
}
.sidebar-footer {
    background: var(--starter-bg) !important;
}

.tile-stats .icon:hover {
	color:#33967e !important;
}

div >i.fa
{
	color: green;
}

.alert-success {
    color: #ffffff;
    background-color: var(--starter-bg) !important;
    border-color: rgba(38, 185, 154, 0.88)
}
.alert-info {
    color: #E9EDEF;
    background-color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88)
}
.alert-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88)
}
.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88)
}

